:root {
    --vp-c-brand-1: #4f46e5;
    --vp-c-brand-2: #4338ca;
    --vp-c-brand-3: #6366f1;
    --vp-c-brand-soft: rgba(99, 102, 241, 0.14);

    --vp-button-brand-border: transparent;
    --vp-button-brand-text: #ffffff;
    --vp-button-brand-bg: #4f46e5;
    --vp-button-brand-hover-border: transparent;
    --vp-button-brand-hover-text: #ffffff;
    --vp-button-brand-hover-bg: #4338ca;
    --vp-button-brand-active-border: transparent;
    --vp-button-brand-active-text: #ffffff;
    --vp-button-brand-active-bg: #3730a3;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(120deg, #4f46e5 30%, #16a34a);

    --vp-home-hero-image-background-image: linear-gradient(
        -45deg,
        rgba(99, 102, 241, 0.4) 30%,
        rgba(34, 197, 94, 0.4)
    );
    --vp-home-hero-image-filter: blur(56px);
}

.dark {
    --vp-c-brand-1: #818cf8;
    --vp-c-brand-2: #6366f1;
    --vp-c-brand-3: #a5b4fc;
    --vp-c-brand-soft: rgba(129, 140, 248, 0.18);
}

.VPHero .image-bg {
    opacity: 0.8;
}

.VPFeature .icon {
    background-color: var(--vp-c-brand-soft) !important;
    color: var(--vp-c-brand-1) !important;
}
